* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: "frutiger_boldregular";
}

*:focus {
  outline: 1px solid #f0b747;
}

body {
  background-color: #f8f8f4; /*beige*/
}

nav {
  display: block;
  margin: auto;
  width: 80%;
}

h1 {
  margin-left: 20px;
  margin-top: 20px;
}

h3 {
  font-size: 24px;
  margin-top: 50px;
  text-align: center;
}

textarea {
  font-size: 18px;
}

p{
  font-size: 20px;
  color: #595856; /*greydark*/
}

b{
  color: black;
}

a{
  font-family: "Graphik-Regular";
  font-weight: bolder;
  color: black;
  transition: 0.1s color ease-in-out;
}

a:hover{
  color: #9dd2b5;
}

::selection {
  background-color: #f0b74788;
}

.MainTitle{
  margin-top: 140px;
  text-align: center;
}

.MainDescription{
  text-align: center;
  margin: auto;
  margin-top: 55px;
  padding-bottom: 20px;
  max-width: 50%;
  line-height: 25px;
  border-bottom: 4px solid #9dd2b5;
}

.CreatedBy{
  border: none;
  margin-top: 40px;
}

.Description {
  font-family: "frutiger_light_condensedLtcn";
  font-weight: bolder;
  margin-left: 20px;
}

.NavbarList {
  display: flex;
}

.NavbarListItem {
  display: flex;
  justify-content: center;
  width: 25%;
  padding: 20px 0;
  color: white;
  font-family: "frutiger_boldregular";
  text-decoration: none;
  border-bottom: 6px solid #f8f8f4;
  transition: 0.1s border ease-in-out;
}

.NavbarListItem:hover{
  color: white;
  border-color: #595856;
}

.NavbarListItem:nth-child(1) {
  background-color: #9dd2b5; /*blue*/
}
.NavbarListItem:nth-child(2) {
  background-color: #6aa427; /*green*/
}
.NavbarListItem:nth-child(3) {
  background-color: #f0b747; /*yellow*/
}
.NavbarListItem:nth-child(4) {
  background-color: #de5b1e; /*red*/
}

.AttributesContent .AttributeInput {
  margin-top: 20px;
}

.AttributeInput {
  border-radius: 4px;
  margin-left: 115px;
}

.AttributeSelector {
  display: flex;
}

.Dropdown {
  position: relative;
  display: flex;
}

.DropdownContent {
  display: none;
  position: absolute;
  background-color: #f8f8f4;
  border: 1px solid #9dd2b5;
  border-radius: 4px;
  min-width: 160px;
  top: 100%;
  left: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 13.5px;
  z-index: 1;
}

.FunctionalDependency .AttributeSelector:first-of-type .DropdownContent {
  left: 0;
}

.Dropdown:focus-within .DropdownContent {
  display: flex;
  flex-direction: column;
}

.FunctionalDependency .AttributeOutput {
  flex-wrap: wrap;
  max-width: 400px;
}

.DropdownAttribute {
  font-size: 18px;
  font-weight: bolder;
  color: #595856;
  background-color: transparent;
  border: none;
  border-bottom: 4px solid #9dd2b5;
  border-radius: 8px;
  height: 26px;
  padding: 0 40px;
  cursor: pointer;
  margin: 2px 5px;
  transition: 0.2s background ease-in-out;
}

.DropdownAttribute:hover {
  background-color: #9e9e9e; /*greylight*/
}

.AttributeOutput {
  display: flex;
  justify-content: center;
  border: 1px solid #9dd2b5;
  border-radius: 4px;
  padding: 20px 20px;
}

.Key {
  display: flex;
  align-items: center;
}

.KeyContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.KeyElement {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 30%;
  margin: 40px 0;
}

.DependencyContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.DependencyContent ul {
  width: 100%;
}

.FunctionalDependency {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  width: 100%;
}

.FunctionalDependency .AttributeSelector:last-of-type {
  justify-content: flex-end;
}

.FunctionalDependency .AttributeSelector:nth-of-type(1) .AttributeInput {
  margin-left: 0;
}

.DependencyElement {
  position: relative;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.Button {
  font-weight: bolder;
  display: flex;
  align-items: center;
  color: #9e9e9e;
  background-color: #595856;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  height: 40px;
  margin: 0 20px;
}

.Button:hover .SvgLine {
  stroke: white;
}

.ButtonAdd {
  padding: 0 20px;
  margin-left: 200px;
}

.FormButtonContainer{
  margin-top: 36px;
  margin-left: -30px;
  display: flex;
  justify-content: center;
}

.MainButtonContainer{
  margin-top: 36px;
  display: flex;
  justify-content: center;
}

.ButtonRun{
  margin: 0 26px;
  background-color: #9dd2b5;
  padding: 10px 20px;
  padding-bottom: 4px;
  border: none;
  border-bottom: 6px solid #59585688;
  border-radius: 8px;
  font-size: 20px;
  color: #595856;
  transition: 0.2s color ease-in-out;
  cursor: pointer;
}

.ButtonRun:hover{
  color: #ffffffcc;
}

.ButtonClear{
  margin-right: 32px;
  background-color: #595856;
  border-color: #de5b1e;
  color: #9e9e9e
}

.DependencyElement .ButtonRemove {
  position: absolute;
  left: 100%;
}

.SvgLine {
  stroke: #9e9e9e;
  stroke-width: 4px;
  transition: 0.2s stroke ease-in-out;
}

.ButtonSmall {
  font-size: 18px;
  font-weight: bolder;
  color: #595856;
  background-color: transparent;
  border: none;
  border-bottom: 4px solid #9dd2b5;
  border-radius: 8px;
  height: 26px;
  padding: 0 20px;
  cursor: pointer;
  margin: 5px 5px;
  align-self: center;
  transition: 0.2s border ease-in-out;
}

.ButtonSmall:hover {
  border-color: #de5b1e;
}

.DependencyArrow {
  display: flex;
  padding: 5px;
  height: 40px;
  justify-self: center;
  align-self: center;
}

.Dot {
  margin: 0 4px;
  align-self: center;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #595856;
}

.Triangle {
  margin-right: -5px;
  width: 30px;
  height: 30px;
}

.Tooltip {
  background-color: #595856 !important;
  border-top: 3px solid #6aa427;
}

.Tooltip.place-top::after {
  border-top-color: #595856 !important;
}

.Form{
  display: block;
  margin: auto;
  width: 80%;
}

.TableContent {
  background: #f8f8f4;
  background: radial-gradient(
    #f8f8f4 70%,
    #e9e2c8BB 100%
  );
  padding: 20px;
  border: 20px solid white;
  border-bottom: 80px solid white;
  width: 100%;
  height: 100%;
}

.Tables {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  position: relative;
}

.Table {
  position: relative;
  border-bottom: 80px solid white;
  border: 1px solid #9e9e9e;
  margin: 20px 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: calc(25% - 20px);
}

.ButtonTable{
  background-color: #f0b747;
  position: absolute;
  bottom: 20px;
  left: calc(50% - 70px);
  margin: 0;
}

.TableAttributes {
  width: 80%;
  margin: auto;
  display: flex;
  margin-bottom: 10px;
  margin-top: 5px;
}

.TableAttribute {
  margin: 0 5px;
}

.TableDependencies {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 5px;
}

.TableDependency {
  display: flex;
}

.TableDependency div {
  margin: 0 5px;
}
